<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceLab Automation Suite">
    <parameter name="browser" value="chrome"/>
    <test name="TestNG Concepts" parallel="none" thread-count="5">
        <groups>
            <run>
<!--                <include name="Low"/> &lt;!&ndash;Comment this line to ignore group wise run &ndash;&gt;-->
            </run>
        </groups>
        <classes>
            <class name="testng.Assertions"/>
            <class name="testng.BeforeAfterAnnotations"/>
            <class name="testng.GroupingTests"/>
            <class name="testng.LoginTestWithDataProvider"/>
            <class name="testng.OrderAndPriority"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
