<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceLab Automation Suite">
    <parameter name="browser" value="chrome"/>
    <test name="SanityTest" parallel="none" thread-count="5">
        <groups>
            <run>
                <include name="Low"/> <!--Comment this line to ignore group wise run -->
            </run>
        </groups>
        <classes>

            <class name="testng.TestC"/>
            <class name="testng.TestLogin"/>
            <class name="testng.Testweb"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
